################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kitakun.EnotShop.Mapper/bin
/.vs
/**/obj
/**/bin