@inject Kitakun.VkModules.Services.Abstractions.IWebContext webContext
<div class="page-block">
    <h3>Табличка с текстом</h3>
    <table class="fullwidth">
        <tr>
            <td><input id="jTextTitle" type="text" class="singleline-input" placeholder="Введите заголовок..." /></td>
        </tr>
        <tr>
            <td>
                <textarea style="width:100%; min-height: 100px;" class="singleline-input"
                          rows="3"
                          id="jTextBody" placeholder="Введите основной текс..."></textarea>
            </td>
        </tr>
    </table>
    <button id='btnMakeText' class="flat-button">Выводить текст в виджете</button>

    <div class="example">
        <div>Будет выглядеть так:</div>
        <img src="~/wwwroot/img/widgetText.png" />
    </div>
</div>

<script>
    window.allcustombinds.push(function () {
        document
            .getElementById('btnMakeText')
            .addEventListener('click', function () {
                var code = 'return { "title": "' + document.getElementById('jTextTitle').value
                    + '", "text": "' + document.getElementById('jTextBody').value + '" };';

                vkConnect.default.send("VKWebAppShowCommunityWidgetPreviewBox", {
                    "group_id": @webContext.GroupId, "type": "text", "code": code
                });
            });
})
</script>
