<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Like Counter</title>

    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>


    <style>
        html, body {
            background-color: #edeef0;
        }

        .page-block {
            position: relative;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
            margin: 15px 0 0;
            border-radius: 4px;
            padding: 17px 20px;
        }

            .page-block > * {
                padding: 5px 7.5px 5.7px;
            }

        h1, h2, h3, h4 {
            color: #42648b;
            text-align: center;
            line-height: 14px;
            padding: 0px;
        }

        .page-block > h1,
        .page-block > h2,
        .page-block > h3,
        .page-block > h4 {
            padding: 0px;
        }

        .content {
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,Noto Sans Armenian,Noto Sans Bengali,Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif;
            line-height: 1.154;
            font-weight: 400;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
            background: #edeef0;
            color: #000;
            margin: 0 auto;
            padding: 0;
            direction: ltr;
            font-size: 13px;
            position: relative;
            width: 600px;
        }

        button {
            display: block;
            min-width: 132px;
            margin: 11px auto 12px;
            padding-left: 5px;
            padding-right: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
        }

        .flat-button {
            padding: 7px 16px 8px;
            font-size: 12.5px;
            zoom: 1;
            cursor: pointer;
            white-space: nowrap;
            outline: none;
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,Noto Sans Armenian,Noto Sans Bengali,Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif;
            vertical-align: top;
            line-height: 15px;
            text-align: center;
            text-decoration: none;
            background: none;
            background-color: #5181b8;
            color: #fff;
            border: 0;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 0px;
        }
        .flat-button:active {
            background-color: #4872a3;
            padding-top: 8px;
            padding-bottom: 7px;
        }

        .example {
            border-radius: 4px;
            box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
            margin: 15px 0 0;
            border-radius: 4px;
            padding: 17px 20px;
        }
        .example div{
            color:lightslategray;
            margin-bottom: 15px;
        }
        .example img {
            width:100%;
        }

        .singleline-input {
            border: 1px solid #d3d9de;
            border-radius: 2px 0 0 2px;
            overflow: hidden;
            position: relative;

            font-size: 13px;
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,Noto Sans Armenian,Noto Sans Bengali,Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif;
            outline: none;
            box-shadow: none;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            line-height: 18px;
            color: #000;
            background: none;
            padding: 8px 70px 8px 12px;
            height: 34px;
        }

        .fullwidth{
            width:100%;
        }
    </style>

    <script>
        window.allcustombinds = [];
        document.addEventListener('DOMContentLoaded', function () {
                for (var i = 0; i < window.allcustombinds.length; i++) {
                    window.allcustombinds[i]();
                }
            VK.init(function () {
            }, function () {
                document.getElementById('message').innerText = 'failed';
            }, '5.95');
        });
    </script>
</head>

<body class="content">
    @RenderBody()
</body>

@RenderSection("Scripts", required: false)
@RenderSection("Style", required: false)

</html>