<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Like Counter</title>

    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/layout.css" />

    <script>
        window.allcustombinds = [];
        document.addEventListener('DOMContentLoaded', function () {
            for (var i = 0; i < window.allcustombinds.length; i++) {
                window.allcustombinds[i]();
            }
            VK.init(function () {
            }, function () {
                document.getElementById('message').innerText = 'failed';
            }, '5.95');
        });
    </script>
</head>

<body class="content">
    @RenderBody()
</body>

@RenderSection("Scripts", required: false)
@RenderSection("Style", required: false)

</html>