<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Лучшие участники группы</title>

    <script src="~/wwwroot/js/vkconnect.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/layout.css" />
    <script src="~/wwwroot/js/vknpm.js" type="text/javascript"></script>

    <script>
        window.allcustombinds = [];
        document.addEventListener('DOMContentLoaded', function () {
            for (var i = 0; i < window.allcustombinds.length; i++) {
                window.allcustombinds[i]();
            }
        });
    </script>
</head>

<body class="content">
    @RenderBody()
</body>

@RenderSection("Scripts", required: false)
@RenderSection("Style", required: false)

</html>